.user_form{
    
    background-color:#F4F4F9;
    height:100%;
    padding:20px;
}
.submit{
    
    background-color:#F4F4F9;
    
}
.user_form_section{
    margin:auto;
    width:44%;
    display: flex;
    flex-direction: column;
    
}

.user_title_section{
    background-color: white;
    border-top:8px solid #22BAA0;
    border-radius: 8px;
    padding:15px 25px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.user_form_questions{
    background-color: white;

    border-radius: 8px;
    padding:30px 25px;
    text-transform: capitalize;
    
margin-bottom: 8px;
}

.user_form_submit{
  float:left;


}
.user_form_submit button{
    background-color: #22BAA0;
}
.user_form_submit button:hover{
    background-color: #347268;
}

.user_footer{
    margin-bottom: 0;
    text-align:center;
    font-size: medium;
    font-weight: 500;
}

.invalidInput {
    border: 2px solid red;
  }
  

/*form details*/

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 20%;
    margin: auto;
  }
  
  .alert-success {
    background-color: #4caf50; /* Green */
  }
  
  .alert-error {
    background-color: #f44336; /* Red */
  }
